<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/scripts/libs/jquery-3.2.1.min.js"><\/script>')</script>
<script src="./assets/scripts/common.js"></script>
<script src="./assets/scripts/tabs.js"></script>
<script src="./assets/scripts/burger.js"></script>
<script src="./assets/scripts/googlemap.js"></script>
<script
    async defer
    src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxwB26O3a9z6usO1kbqcjgO89k0B1gCrc&callback=initMap">
    </script>
