<section class="info">
    <div class="info__location">
        <div class="location__address address">
            <p class="address__header">Чекаємо вас за адресою:</p>
            <p class="address__destination">м. Київ, вул. Верхній Вал 2А</p>
        </div>
        <div class="location__open-time open-time">
            <p class="open-time__header">Графік роботи музею:</p>
            <p class="open-time__first-day">пн-вихідний</p>
            <p class="open-time__work-days">вт-пт: 09:30 - 19:00</p>
            <p class="open-time__last-day">сб-нд, свята: 10:00 - 20:00</p>
        </div>
    </div>
    <div class="info__map">
    </div>   
    <div class="info__form from">
        <form action="" class="form__visit-inf visit-inf">
            <p class="visit-inf__header">Запланувати візит</p>
            <input type="text" class="visit-inf__date" placeholder="Enter the date 01/01/2000">
            <div class="visit-inf__time-quantity">
                <input type="text" class="visit-inf__time" placeholder="Enter the time">
                <input type="text" class="visit-inf__quantity" placeholder="Enter the quantity">
            </div>
            <button class="visit-inf__reserve" type="submit">забронювати</button>            
        </form>
    </div>
</section>