<footer class="footer">
    <div class="footer__content">
        <div class="footer__image">
            
        </div>
        
        <div class="footer__c-menu c-menu">
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">24/7 SUPPORT</a></h3>
                <li>
                    <a class="c-menu__link" href="#">E-mail or Call Us</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Frequently Asked</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Questions (FAQ)</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Privacy Policy</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Use of Cookies</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Cancellation Policy</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Low Price Guarantee</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Terms & Conditions</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Log-In</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Sign-Up</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">DESTINATIONS</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Africa</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Antarctica</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Asia</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Canary Islands</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Carriabean Islands</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Central America</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Europe</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Middle East</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">North America</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Pacific</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">South America</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Top Destinations</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">All Destinations</a>
                </li>
                </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">TRIPS, TOURS & 
                    ACTIVITIES</a></h3>
                    <li>
                    <a class="c-menu__link" href="#">Private Tours</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Shore Excursions</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Bus Sightseeing Tours</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Boat Trips & Charters</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Water Fun & Sports</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Fishing Tours & Charters</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Trekking & Hiking Tours</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Air Trips & Sports</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Airport Transfers</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Amusement Park Tickets</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Shows & Entertainment</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Motor Sports & Tours</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Bike Tours & Rentals</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">Rent a Car or Motorbike</a>
                </li>
                    <li>
                    <a class="c-menu__link" href="#">All the Trips, Tours & Activities</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">accomodations</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Apartments</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Villas</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Bed & Breakfast</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Hotels</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Hostels</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Design Hotels</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Guesthouses</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Castles & Palaces</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Motels</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Penthouses</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Farmhouses & Eco Hotels</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">RVs, Motorhomes</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">All Accommodations</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">rental & services</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Rent a Car</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Car with Driver</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Motor Bike or Scooter</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Bike, MTB, Electric Bike</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Kayak or Canoe</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Yacht</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Motor Boat</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Surfing Equipment</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Diving Equipment</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Rent a Camp Equipment</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Home Help Services</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Holiday Childcare Services</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">All the Rentals & Services</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <li>
                    <ul>
                        <h3 class="c-menu__title"><a href="#">tripspoint team</a></h3>
                        <li>
                            <a class="c-menu__link" href="#">About Us</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Why Book with us</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Our Team</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Join our TeamCarriers</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Destination Manager</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Sign-Up</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Destination Manager</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Log-In</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <h3 class="c-menu__title"><a href="#">BECOME A SUPPLIER</a></h3>
                        <li>
                            <a class="c-menu__link" href="#">Who can be our Supplier</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Supplier Sign-Up</a>
                        </li>
                        <li>
                            <a class="c-menu__link" href="#">Supplier Log-In</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>