<footer class="footer">
    <div class="footer__content">
        <div class="footer__image">
            <img src="./assets/img/experimentanium__logo.png" alt="Experimentanium logo">
        </div>
        <div class="footer__action">
            <h2 class="footer__header">Експериментаніум</br>
                <span>музей популярної науки і техніки</span>
            </h2>
            <div class="footer__subscribe">
                <h3 class="footer__title">підписатись на новини</h3>
                <form class="footer__form">
                    <input class="footer__input" type="email" placeholder="Введіть e-mail" id="">
                    <input class="footer__submit" type="submit" value="">
                </form>
            </div>
            <div class="footer__social">
                <h3 class="footer__title">ми в соціальних мережах</h3>
                <div class="footer__s-icons">
                    <a href="#" class="footer__s-link">
                        <img src="./assets/img/fb.png" alt="facebook" class="footer__s-image">
                    </a>
                    <a href="#" class="footer__s-link">
                        <img src="./assets/img/twitter.png" alt="twitter" class="footer__s-image">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__c-menu c-menu">
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">експозиція та шоу</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Шоу в музеї</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Експозиція музею</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Виїздні шоу</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">3Д тур</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">новини</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Новини музею</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Новини зі світу науки</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Анонси</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Акції</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">освітні програми</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Шкільні екскурсії</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Наукові гуртки</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Лекції</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Майстер-класи</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">оргранізація заходів</a></h3>
                <li>
                    <a class="c-menu__link" href="#">День народження</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Корпоративні заходи</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Оренда приміщень</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Кафе</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">про нас</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Про музей</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Правила поведінки</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Відгуки</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Благодійність</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">FAQ</a>
                </li>
            </ul>
            <ul class="c-menu__item">
                <h3 class="c-menu__title"><a href="#">музей</a></h3>
                <li>
                    <a class="c-menu__link" href="#">Квитки</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Магазин</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Вакансії</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Фото та відео</a>
                </li>
                <li>
                    <a class="c-menu__link" href="#">Подяки</a>
                </li>
            </ul>
        </div>
    </div>
</footer>