<header class="header">
	<div class="container">
		<section class="header__main">
			<div class="header__logo logo">
			</div>
			<div class="burger">
				<span class="burger__line burger__line--top"></span>
				<span class="burger__line burger__line--middle"></span>
				<span class="burger__line burger__line--bottom"></span>
			</div>
			<nav class="header__nav nav">
				<ul class="nav__items menu">
					<li class="nav__item">
						<a class="nav__link" href="#">головна</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">експозиція та шоу</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">новини</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">освітні програми</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">організація свят</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">про нас</a>
					</li>
					<li class="nav__tickets nav__item">
						<a href="#">квитки</a>
					</li>
				</ul>
			</nav>
		</section>
	</div>
</header>