<header class="header">
	<div class="container">
		<div class="header__additional additional">
			<button class="additional__searchbutton">
				<i class="fa fa-search fa-lg" aria-hidden="true"></i>
			</button>
			<input class="additional__input" type="text" placeholder="Тесла шоу корпоратив">
			<ul class="additional__lang">
				<li>ukr <i class="fa fa-angle-down" aria-hidden="true"></i></li>
			</ul>
		</div>
		<section class="header__main">
			<div class="header__logo logo">
				<img class="logo__img" src="../../assets/img/logo.png" alt="logoimg">
				<span class="logo__text">
						<span class="logo__text__title">Експериментаpіум</span>
						<span class="logo__text__descr">музей популярної науки і техніки</span>
				</span>
				
			</div>
			<div class="burger">
					<span class="burger__line burger__line--top"></span>
					<span class="burger__line burger__line--middle"></span>
					<span class="burger__line burger__line--bottom"></span>
				</div>
			<nav class="header__nav nav">
				<ul class="nav__items menu">
					<li class="nav__item">
						<a class="nav__link" href="#">головна</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">експозиція та шоу</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">новини</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">освітні програми</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">організація свят</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">про нас</a>
					</li>
					<li class="nav__tickets nav__item">
						<a href="#">квитки</a>
					</li>
				</ul>
			</nav>
			<div class="header__buy">
				<button class="header__buy--button">
					квитки
				</button>
			</div>
		</section>
	</div>
</header>
