<section class="listings">
    <div class="listings__header">
        <h2>NEW LISTINGS</h2>
    </div>
    <div class="listings__content">
        <div class="listings__accomodations">
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/accomodations1.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/accomodations2.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/accomodations3.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="listings__trips">
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/trips1.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/trips2.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/trips3.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="listings__rentals">
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/rentals1.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/rentals2.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="listings__item">
                <div class="listings__item-img">
                    <img src="../assets/img/rentals3.png" alt="listings photo">
                </div>
                <div class="listings__item-content">
                    <div class="listings__item-title">
                        <h3>Caribbean Islands</br>
                            Cruise - days from Miami</h3>
                    </div>
                    <div class="listings__item-action">
                        <button type="button">
                            <a href="#">
                                <span>from</span>
                                <span>&nbsp;$799</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>