<section class="news">
    <div class="news__header">
        <h2>News</h2>
    </div>
    <div class="news__content">
        <div class="news__kit">
            <div class="trips__item">
                <div class="trips__item-title">
                    <h3>Very important news came from India</h3>
                </div>
                <div class="trips__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu
                    consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis.
                    Aliquam varius placerat enim id blandit</div>
                <div class="trips__item-action">
                    <a href="">Read more</a>
                </div>
            </div>
            <div class="trips__item">
                <div class="trips__item-title">
                    <h3>Very important news came from India</h3>
                </div>
                <div class="trips__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu
                    consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis.
                    Aliquam varius placerat enim id blandit</div>
                <div class="trips__item-action">
                    <a href="">Read more</a>
                </div>
            </div>
            <div class="trips__item">
                <div class="trips__item-title">
                    <h3>Very important news came from India</h3>
                </div>
                <div class="trips__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu
                    consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis.
                    Aliquam varius placerat enim id blandit</div>
                <div class="trips__item-action">
                    <a href="">Read more</a>
                </div>
            </div>
        </div>
        <div class="news__kit">
            <div class="trips__item">
                <div class="trips__item-title">
                    <h3>Very important news came from India</h3>
                </div>
                <div class="trips__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu
                    consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis.
                    Aliquam varius placerat enim id blandit</div>
                <div class="trips__item-action">
                    <a href="">Read more</a>
                </div>
            </div>
            <div class="trips__item">
                <div class="trips__item-title">
                    <h3>Very important news came from India</h3>
                </div>
                <div class="trips__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu
                    consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis.
                    Aliquam varius placerat enim id blandit</div>
                <div class="trips__item-action">
                    <a href="">Read more</a>
                </div>
            </div>
            <div class="trips__item">
                <div class="trips__item-title">
                    <h3>Very important news came from India</h3>
                </div>
                <div class="trips__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu
                    consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis.
                    Aliquam varius placerat enim id blandit</div>
                <div class="trips__item-action">
                    <a href="">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="news__action"></div>
</section>