//  Variables

// Colors

$bgcolor:                   #ffffff;
$color_purple:              #9153cc;

$primary_color:             #000000;
$secondary_color:           #ffffff;
$grey__color:               #d4d4d4;

$orange_color:              #d27a12;


// Fonts

$primary_font: 'Roboto', sans-serif;
$secondary_font: 'Lato', sans-serif;
$third_font: 'Open Sans', sans-serif;
$logo_font: 'Roboto Condensed', sans-serif;

$font-size-base: 10px;

$time: 0.3s;


// Social
$socials: (
        fb: #12699b,
        tw: #12699b,
        yb: #12699b,
        inst: #12699b,
        vk: #12699b,
        goo: #12699b,
        rss: #12699b
);