//  Variables

// Colors

$color_black:   #000000;
$color_white:   #ffffff;
$grey__color:   #d4d4d4;

$color_grey_font: #535353;
$color_grey_social: #c1c1c1;
$color_blue_heading: #005096;
$color_link_news:  #8bcbe9;

$bgcolor_news: #f8f8f8;
$bgcolor_footer: #f1f1f1;
$bgcolor_bottom: #eaeaea;


// Fonts

$font_reg:            'GothamProRegular', sans-serif;
$font_bold:           'GothamProBold', sans-serif;
$font_italic:         'GothamProItalic', sans-serif;
$font_bolditalic:     'GothamProBoldItalic', sans-serif;
$font_black:          'GothamProBlack', sans-serif;

$font-size-base: 10px;

$time: 0.3s;


// Social
$socials: (
        fb: #12699b,
        tw: #12699b,
        yb: #12699b,
        inst: #12699b,
        vk: #12699b,
        goo: #12699b,
        rss: #12699b
);