.footer {
    max-width: 1300px;
    margin: 0 auto;
    background-color: $bgcolor_footer;
    &__content {
        padding-top: 86px 50px 80px 50px;
    }
    &__c-menu {
        display: flex;
        flex-flow: row nowrap;
    }
}

.c-menu {
    &__item {
        //width: 25%;
        padding: 0 25px 35px 25px;
        color: $color_black;
        li {
            padding-left: 0;            
        }
        /* @media (max-width:768px) {
            text-align: center;
        } */
    }
    &__title {
        font: {
            family: $font_bold;
            size: 0.938em;
        }
        text-transform: uppercase;
        padding-bottom: 25px;
    }
    &__link {
        font: {
            family: $font_reg;
            size: 0.813em;
        }        
    }
}